section#header {

}

.navbar a.brand {
  display: block;
  height: 20px;
  width: 20px;
  background-image: url('../img/logo.png');
  background-repeat: no-repeat;
  background-position: center;
  margin-left: -20px;

}

section.new {
  background-color: #dff0d8;
}

h3.group {
  float: left;
}

h3.email {
  color: #888;
  font-size: 1.1em;
  float: left;
  margin-left: 10px;
}

table.table h4, table.table h5 {
  margin: 0;
}

p.multiline {
  white-space: pre;
}

.nav [class^="icon-"], .nav [class*=" icon-"] {
  line-height: 20px;
}

a.btn {
  margin: 4px;
}

a.btn i[class^="icon-"], a.btn [class*=" icon-"]  {
  padding-right: 4px;
}

tr.view button.btn,
tr.view button.btn:disabled,
tr.view button.btn:disabled:hover {
    opacity: 0.4;
}

tr.view button.btn:hover {
    opacity: 1;
}

div.navbar span.alert-error {
  padding: 2px;
}

ul.phones, ul.email, ul.messages {
  list-style: none;
  white-space: nowrap;
  margin: 0;
}

/* Messages */
div.messages i[class^="icon-*"] {
  display: block;
  width: 20px;
  float: left;
}

/* Change requests */
table#requests tbody tr td {
  border: 1px solid #acacac;
}

table#requests tbody th.change {
  color: #fff;
}

table#requests tbody.type-create td.type {
  background-color: gray;
}

table#requests tbody.type-update td.type {
  background-color: gray;
}

table#requests tbody.type-delete td.type {
  background-color: gray;
}

table#requests tbody tr.org td {
  color: #aaa;
}

table#requests tbody i.icon {
  font-family: FontAwesome;
  font-style: normal;
  text-decoration: inherit;
  font-size: 18px;
  color: white;
  line-height: 18px;
  padding: 10px;
}
table#requests th.type-create {
  /*background-color: #4e9a06;*/
  background-image: linear-gradient(bottom, rgb(78,154,6)  0%,rgb(132,186,78) 100%);
  background-image: -o-linear-gradient(bottom, rgb(78,154,6)  0%,rgb(132,186,78) 100%);
  background-image: -moz-linear-gradient(bottom, rgb(78,154,6)  0%,rgb(132,186,78) 100%);
  background-image: -webkit-linear-gradient(bottom, rgb(78,154,6)  0%,rgb(132,186,78) 100%);
  background-image: -ms-linear-gradient(bottom, rgb(78,154,6)  0%,rgb(132,186,78) 100%);
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, rgb(78,154,6)),
    color-stop(1, rgb(132,186,78))
  );
}

table#requests th.type-create i.icon:before {
  content: "\f055";
}

table#requests th.type-update {
  background-image: linear-gradient(bottom, rgb(245,123,0) 0%, rgb(245,169,98) 100%);
  background-image: -o-linear-gradient(bottom, rgb(245,123,0) 0%, rgb(245,169,98) 100%);
  background-image: -moz-linear-gradient(bottom, rgb(245,123,0) 0%, rgb(245,169,98) 100%);
  background-image: -webkit-linear-gradient(bottom, rgb(245,123,0) 0%, rgb(245,169,98) 100%);
  background-image: -ms-linear-gradient(bottom, rgb(245,123,0) 0%, rgb(245,169,98) 100%);
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, rgb(245,123,0)),
    color-stop(1, rgb(245,169,98))
  );
}

table#requests th.type-update i.icon:before {
  content: "\f044";
}

table#requests th.type-delete {
  background-image: linear-gradient(bottom, rgb(239,41,41) 0%, rgb(235,108,108) 100%);
  background-image: -o-linear-gradient(bottom, rgb(239,41,41) 0%, rgb(235,108,108) 100%);
  background-image: -moz-linear-gradient(bottom, rgb(239,41,41) 0%, rgb(235,108,108) 100%);
  background-image: -webkit-linear-gradient(bottom, rgb(239,41,41) 0%, rgb(235,108,108) 100%);
  background-image: -ms-linear-gradient(bottom, rgb(239,41,41) 0%, rgb(235,108,108) 100%);
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, rgb(239,41,41)),
    color-stop(1, rgb(235,108,108))
  );
}

table#requests th.type-delete i.icon:before {
  content: "\f014";
}

/* BlockUI specific */
div.blockUI .alert {
  margin-bottom: 0;
}

/* Media: narrow screen */
@media only screen and (max-width: 700px) {
  ul.nav li a span.text {
    display: none;
  }

  ul.nav li a span[class*=" icon-"],
  ul.nav li a span[class^="icon-"] {
    font-size: 24px;
  }
}