div.navbar {
   display: none;
 }

section.new {
  display: none;
}

a.btn {
  display: none;
}

#wrapper, #content {
   width: auto;
   border: 0;
   margin: 0 5%;
   padding: 0;
   float: none !important;
 }