<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <title>{% block title %}Yhteystiedot{% endblock %}</title>
  <link rel="stylesheet" href="/static/css/bootstrap.css" />
  <link rel="stylesheet" href="/static/css/font-awesome.css" />
  <!--[if IE 7]>
  <link rel="stylesheet" href="/static/css/font-awesome-ie7.min.css">
  <![endif]-->
  <link rel="icon" href="/static/img/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" type="text/css" href="/static/css/base.css" />
  <link rel="stylesheet" type="text/css" href="/static/css/print.css" media="print" />
  <script type="text/javascript" src="/static/js/jquery.min.js"></script>
  <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/static/js/knockout.min.js"></script>
  <script type="text/javascript" src="/static/js/jquery.blockUI.js"></script>
  <script type="text/javascript" src="/static/js/base.js"></script>
  <script type="text/javascript">
  window.ytl = {'apiURL': '{{ uri_for('api', _full=True)[0:-1] }}', 'isAdmin': {{ 'true' if admin else 'false' }} };
  </script>
  <script type="text/javascript">
  var RecaptchaOptions = {
    theme: 'clean',
    lang: 'fi'
  };
  </script>
  {% include "scriptlets.html" %}
  {% block scripts %}{% endblock %}
</head>
<body data-bind="event: {keyup: $root.cancelAllActions }">
   <div class="navbar">
    <div class="navbar-inner">
      <a class="brand" href="{{ uri_for('home') }}"></a>
      <ul class="nav">
        <li class="{{ 'active' if route == 'home' else '' }}">
          <a href="{{ uri_for('home') }}">
            <span class="icon-home"></span>
            <span class="text">Etusivu</span></a>
        </li>
        <li class="{{ 'active' if route == 'request' else '' }}">
          <a href="{{ uri_for('request') }}">
            <span class="icon-eye-open"></span>
            <span class="text">Muutospyynnöt</span> <span class="badge badge-important" data-bind="text: $root.changeRequests().length, visible: $root.changeRequests().length > 0">3</span></a></li>
        {% if admin %}
        <li class="">
          <a href="{{ uri_for('admin') }}">
            <span class="icon-wrench"></span>
            <span class="text">Ylläpito</span>
          </a>
        </li>
        {% endif %}
        {% if not user %}
        <li class="{{ 'active' if route == 'login' else '' }}">
          <a href="{{ uri_for('login') }}">
            <span class="icon-key"></span>
            <span class="text">Kirjaudu sisään</span>
          </a>
        </li>
        {% else %}
        <li class="{{ 'active' if route == 'logout' else '' }}">
          <a href="{{ uri_for('logout') }}">
            <span class="icon-off"></span>
            <span class="text">Kirjaudu ulos</span>
          </a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
  <!-- show system messages -->
  <div class="alert messages" data-bind="visible: messages().length > 0">
    <ul class="messages" data-bind="foreach: messages">
      <li>
        <i class="icon-info-sign"></i>
        <span class="" data-bind="text: $data"></span>
      </li>
    </ul>
  </div>
  <!--div class="alert">
    <strong>Varoitus!</strong>
    Palvelu on testivaiheessa. Siihen syötetyt tiedot voivat kadota tai muuttua ilman mahdollisuutta palauttaa niitä.
  </div-->
  {% block content %}{% endblock %}
</body>
</html>
