{% extends "base.html" %}

{% block title %}Keski-Suomen Alueen Puheterapeutit{% endblock %}

{% block scripts %}

{% endblock %}

{% block content %}
  <section id="header">
  <section>
  <h2>Yhteystietolista</h2>
  <p>Tervetuloa Keski-Suomen puheterapeuttien yhteystietosivulle. Sivun tietoja ylläpitävät puheterapeutit itse.</p>
  <p>Kuka tahansa voi lisätä tai muuttaa tietoja. Muutoksen jälkeen se menee hyväksyttäväksi ylläpidolle, jonka myötä muutos joko hyväksytään tai hylätään ja tulee sivustolle näkyviin.</p>
  </section>

  <hr />

  <section class="new success">
  <header>
    <h3>Lisää uusi</h3>
  </header>
  <p>Puuttuuko jokulistasta? Lisää uusi kontakti valitsemalla <i>Aloita lisääminen</i>. Kontakti tulee näkyviin listaan vasta hyväksymisen jälkeen.</p>
  <a class="btn" name="start" data-bind="click: $root.toggleAddContact">
  <i class="icon-plus-sign"></i> Aloita lisääminen</a>

  <!-- New contact -->
  <form name="new" action="{{ uri_for('api-contact-add') }}" method="post" data-bind="visible: $root.addContactToggled, with: $root.newContact">
    <table class="table">
      <thead>
        <tr>
            <th>Paikka</th>
            <th>Perustiedot</th>
            <th>Yhteystiedot</th>
        </tr>
      </thead>
      <tbody>
        <tr class="edit">
          <td colspan="2">
            <select data-bind="options: $root.contactGroups, optionsText: 'name', value: $root.currentGroup, event: {'change': $root.changeGroup}"></select>
          </td>
          <td data-bind="text: $root.currentGroup().email"></td>
          <td>
              <a class="btn btn-success" name="save" data-bind="click: $root.sendChangeRequest.bind($root.addContact, 'create')"><i class="icon-plus-sign"></i> Lisää</a>
              <a class="btn btn-inverse" name="cancel" data-bind="click: function(event){ $root.toggleAddContact(false); }"><i class="icon-reply"></i> Peruuta</a>
          </td>
        </tr>
        <tr class="edit">
          <td data-bind="template: {name: 'address-edit', data: $data}"></td>
          <td>
            <label for="firstName">Etunimi:</label>
            <input id="firstName" type="text" data-bind="value: firstName"/>
            <label for="lastName">Sukunimi:</label>
            <input id="lastName" type="text" data-bind="value: lastName" />
            <label for="comment">Muuta:</label>
            <textarea id="comment" rows="4" data-bind="value: comment"></textarea>
          </td>
          <td data-bind="template: {name: 'contact-edit', data: $data}">
          </td>
          <td>
          </td>
        </tr>
      </tbody>
    </table>
  </form>
  </section>
  </section>

  <hr />

  <!-- List existing contacts -->
  <section>

  <form name="edit" action="{{ uri_for('api-contact-add') }}" method="post">
  <table class="table table-hover">
    <!-- ko foreach: contactGroups -->
    <thead>
      <tr>
        <th colspan="4">
          <h3 class="group" data-bind="text: name"></h3>
          <h3 class="email" data-bind="text: email"></h3>
        </th>
      </tr>
      <tr>
        <th>Paikka</th>
        <th>Nimi</th>
        <th>Yhteystieto</th>
        <th></th>
      </tr>
    </thead>
    <tbody data-bind="foreach: {data: contacts, as:'contact'}">
      <!-- view -->
      <tr class="view" data-bind="visible: contact != $root.currentContact()">
        <td data-bind="template: {name:'address-view', data: contact}"></td>
        <td>
          <h5 data-bind="text: contact.fullName"></h5>
          <p class="multiline" data-bind="text: contact.comment"></p>
        </td>
        <td data-bind="template: {name:'contact-view', data: contact}"></td>
        <td>
          <a class="btn btn-primary" data-bind="visible: !$root.isChangeRequestPending(contact), click: $root.editContact, attr: {name: id}">
            <i class="icon-edit"></i>
            Muokkaa
          </a>
          <a class="btn btn-secondary" data-bind="visible: !$root.isChangeRequestPending(contact), click: $root.copyContact, attr: {name: id}">
            <i class="icon-copy"></i>
            Kopioi uudeksi
          </a>
          <a class="btn btn-primary" data-bind="visible: $root.isChangeRequestPending(contact), attr: {class: $root.isChangeRequestPending(contact) ? 'btn btn-primary disabled' : 'btn btn-primary'}, click: $root.noop"><i class="icon-eye-open"></i> Muutospyyntö käsittelyssä</a>
        </td>
      </tr>
      <!-- edit -->
      <tr class="edit" data-bind="visible: contact == $root.currentContact()">
        <td data-bind="template: {name: 'address-edit', data: contact}"></td>
        <td>
          <label for="firstName">Etunimi:</label>
          <input id="firstName" data-bind="value: contact.firstName" type="text" />
          <label for="firstName">Sukunimi:</label>
          <input data-bind="value: contact.lastName" type="text" />
          <label for="comment">Muuta:</label>
          <textarea id="comment" rows="4" data-bind="value: contact.comment"></textarea>
        </td>
        <td data-bind="template: {name: 'contact-edit', data: contact}">
        </td>
        <td>
            <a class="btn btn-success" name="save" data-bind="click: $root.sendChangeRequest.bind(contact, 'update')"><i class="icon-save"></i>Tallenna</a>
            <a class="btn btn-danger" name="delete" data-bind="click: $root.sendChangeRequest.bind(contact, 'delete')"><i class="icon-trash"></i>Poista</a>
            <a class="btn btn-inverse" name="cancel" data-bind="click: $root.cancelContactEdit"><i class="icon-reply"></i>Peruuta</a>
        </td>
      </tr>
    </tbody>
    <!-- /ko -->
  </table>
  </form>
  </section>
{% endblock %}
