{% extends "base.html" %}

{% block title %}Keski-Suomen Alueen Puheterapeutit - Muutospyynnöt{% endblock %}

{% block content %}
<h2>Muutospyynnöt</h2>
<p data-bind="visible: $root.changeRequests().length == 0">Ei muutospyyntöjä käsiteltävänä, <a href="{{ uri_for('home') }}">voit tehdä niitä listauksesta</a></p>

<section data-bind="visible: $root.changeRequests().length > 0">
  <p>Muutospyynnöt jotka odottavat käsittelyä</p>
  <table id="requests" class="table" data-bind="visible: $root.changeRequests().length > 0">
    <thead>
      <tr>
        <th>Muutostyyppi</th>
        <th>Paikka</th>
        <th>Nimi</th>
        <th>Puhelin</th>
        <th></th>
      </tr>
    </thead>
    <!-- ko foreach: changeRequests -->
    <tbody data-bind="attr: {class: 'type-' + $data.typeName[$data.type()]}">
      <tr>
        <th data-bind="attr: {class: 'type-' + $data.typeName[$data.type()]}" colspan="4">
          <i class="icon"></i>
          <span data-bind="text: $data.typeName[$data.type()]"></span>
        </th>
      </tr>
      <!-- mod -->
      <tr class="view mod">
        <!-- <td rowspan="2" class="type"><i class="icon"></i></td> -->
        <td data-bind="template: {name:'address-view', data:$data}"> </td>
        <td>
          <p data-bind="text: fullName"></p>
          <p data-bind="text: comment"></p>
        </td>
        <td data-bind="template: {name:'contact-view', data:$data}"></td>
        <td rowspan="2">
          <div data-bind="visible: $root.isAdmin">
            <a class="btn btn-success" data-bind="click: $parent.resolveRequest.bind($data, 'accept'), attr: {name: id}"><i class="icon-thumbs-up"></i>{{ _('Confirm') }}</a>
            <a class="btn btn-danger" data-bind="click: $root.resolveRequest.bind($data, 'reject')"><i class="icon-thumbs-down"></i>Hylkää</a>
          </div>
        </td>
      </tr>
      <!-- org -->
      <tr class="view org" data-bind="if: contact != null">
        <td data-bind="template: {name:'address-view', data:contact}"></td>
        <td data-bind="text: contact.fullName"></td>
        <td data-bind="template: {name:'contact-view', data:contact}"></td>
      </tr>
    </tbody>
    <!-- /ko -->
  </table>
</section>

{% endblock %}
