<script type="text/html" id="address-view">
  <h5 class="unit" data-bind="text: unit"></h5>
  <p data-bind="text: street"></p>
  <p data-bind="text: zipInfo"></p>
</script>

<script type="text/html" id="address-view">
  <h5 class="unit" data-bind="text: unit"></h5>
  <p data-bind="text: street"></p>
  <p data-bind="text: zipInfo"></p>
</script>

<script type="text/html" id="address-edit">
  <label for="unit">Yksikkö:</label><input id="unit" type="text" data-bind="value: unit"/>
  <label for="street">Katuosoite:</label><input id="street" type="text" data-bind="value: street"/>
  <label for="zipcode">Postinumero:</label><input id="zipcode" type="text" data-bind="value: zipCode"/>
  <label for="municipality">Postitoimipaikka:</label><input id="municipality" type="text" data-bind="value: municipality"/>
</script>

<script type="text/html" id="address-empty">
  <label for="unit">Yksikkö:</label><input id="unit" type="text" />
  <label for="street">Katuosoite:</label><input id="street" type="text" />
  <label for="zipcode">Postinumero:</label><input id="zipcode" type="text" size="6" maxlength="5" />
  <label for="municipality">Postitoimipaikka:</label><input id="municipality" type="text" />
</script>

<script type="text/html" id="contact-edit">
  <label>Puhelin:</label>
  <ul class="phones">
    <!-- ko foreach: $data.phones -->
    <li><input type="text" data-bind="value: $data" /><a data-bind="click: function(data, event){ $parent.removeNumber($index()) }" class="icon-remove"></a></li>
    <!-- /ko -->
    <input type="text" data-bind="event: {change: function(data, event){ $data.addNumber($element) }}" /><a data-bind="click: function(data, event){ $data.addNumber($($element).prev('input')[0]) }" class="icon-plus-sign"></a>
  </ul>
  <label>Sähköposti:</label>
  <input type="text" data-bind="value: $data.email" />
</script>

<script type="text/html" id="contact-view">
  <ul class="phones" data-bind="foreach: $data.phones">
    <li data-bind="text: $data"></li>
  </ul>
  <ul class="email">
    <li data-bind="text: email"></li>
  </ul>
</script>

